// Colors

$gold: #D4B864;
$black: #000000;
$gray: #191919;
$white: #ffffff;
$tan: #F3EFE0;

// Typography

$primary-font: 'Signika';
$header-font: 'Pridi';

$weight-2: 200;
$weight-3: 300;
$weight-4: 400;
$weight-6: 600;
$weight-7: 700;
