.intro-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/radio-bg.jpg');
    background-blend-mode: multiply;
}

.home-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-copy {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-copy h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: font-size 0.3s ease;

    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
}

.intro-copy p {
    font-size: 2rem;
    transition: font-size 0.3s ease;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

@keyframes jump {
  0% {
    	transform: translateY(0);
  }

  20% {
    	transform: translateY(0);
  }

  40% {
    	transform: translateY(-20px);
  }

  50% {
    	transform: translateY(0);
  }

  60% {
    	transform: translateY(-15px);
  }

  80% {
    	transform: translateY(0);
  }

  100% {
    	transform: translateY(0);
  }
}

.home-intro .circle-btn {
    animation: jump 1.5s ease 0s infinite normal ;
    margin-top: 2rem;
}

.circle-btn {
    background-color: #D4B864;
    border-radius: 50%;
    border: 2px solid #D4B864;
    cursor: pointer;
    display: flex;
    height: 20px;
    outline: none;
    padding: 1rem;
    text-decoration: none;
    width: 20px;

    img {
        height: 20px;
        padding: 0;
        width: 20px;
    }

    &:hover {
        background-color: #000000;
        border: 2px solid #D4B864;
    }
}

.artist-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.artist-rank {
    font-size: 7rem;
    left: 10%;
    position: absolute;
    top: 5%;
    transition: font-size 0.3s ease;

    @media (max-width: 1024px) {
        font-size: 5rem;
    }

    @media (max-width: 768px) {
        font-size: 4rem;
    }

}


.artist-content__name {
    font-size: 6rem;
    transition: font-size 0.3s ease;

    @media (max-width: 1024px) {
        font-size: 4rem;
    }

    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
}

.artist-content__hometown {
    font-size: 3rem;
    transition: font-size 0.3s ease;
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
        font-size: 2rem;
    }

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}


.main-logo-wrapper {
    text-align: center;

    h1 {
        font-size: 4rem;
    }
}

.main-rankings {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.rank {
    cursor: pointer;
    font-size: 7rem;
    height: auto;
    line-height: 6rem;
    margin-bottom: 2rem;
    outline: none;
    width: auto;
    color: rgba(255, 255, 255, 0.1);

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: #D4B864;
    }
}


// Artist Content

.home-artist-content {
    height: 100%;
    width: 35%;
}

.home-artist {
    align-items: center;
    box-shadow: 10px 15px 10px #000000;
    display: flex;
    margin-left: -50%;
    padding: 3rem;
    position: absolute;
    top: 30%;
    min-width: 550px;
}

.home-artist-image {
    margin-right: 2rem;

    img {
        height: 275px;
        width: auto;
    }
}

.home-artist-details {
    flex-grow: 1;
    text-align: center;
}

.artist-overlay {
    background-color: #D4B864;
}

.artist-expand {
    position: absolute;
}

.artist-expand .circle-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.honorable-mentions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.honorable-mentions h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    transition: font-size 0.3s ease;

    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
}

.honorable-artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.honorable-artists p {
    font-size: 2rem;
    padding: 1rem;
}

.debate-your-mother {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.debate-your-mother p {
    padding-bottom: 2rem;
}
